{#
Extend the original core headline template.
The namespace @Contao refers to the core bundle templates.
#}
{% extends "@Contao/content_element/headline.html.twig" %}

{#
The core template usually defines a 'content' block
(inherited from _base.html.twig). We override it here.
#}
    {% block headline_component %}

        {# data.subline oben #}
        {% if data.subline is defined
            and data.subline is not empty
            and data.subline_position is defined
            and data.subline_position == 'above' %}
            <div class="sw-subline sw-subline--above">
                {{ data.subline|insert_tag|raw }}
            </div>
        {% endif %}

        {# Original Headline #}
        {{ parent() }}

        {# data.subline unten #}
        {% if data.subline is defined
            and data.subline is not empty
            and (data.subline_position is not defined or data.subline_position == 'below') %}
            <div class="sw-subline sw-subline--below">
                {{ data.subline|insert_tag|raw }}
            </div>
        {% endif %}

    {% endblock %}

