{#
Extend the original core headline template.
The namespace @Contao refers to the core bundle templates.
#}
{% extends "@Contao/content_element/headline.html.twig" %}

{#
The core template usually defines a 'content' block
(inherited from _base.html.twig). We override it here.
#}
    {% block headline_component %}

        {# Check if subline is present and not empty #}
        {% set has_subline = data.subline is defined and data.subline is not empty %}

        {# Wrapper div if subline is present #}
        {% if has_subline %}
            <div class="sw-headline-group">
        {% endif %}

        {# data.subline oben #}
        {% if has_subline
            and data.subline_position is defined
            and data.subline_position == 'above' %}
            <div class="sw-headline-group__subline sw-headline-group__subline--above">
                {{ data.subline|insert_tag|raw }}
            </div>
        {% endif %}

        {# Original Headline #}
        {{ parent() }}

        {# data.subline unten #}
        {% if has_subline
            and (data.subline_position is not defined or data.subline_position == 'below') %}
            <div class="sw-headline-group__subline sw-headline-group__subline--below">
                {{ data.subline|insert_tag|raw }}
            </div>
        {% endif %}

        {# Close wrapper div if subline is present #}
        {% if has_subline %}
            </div>
        {% endif %}

    {% endblock %}

