{#
Extend the original core headline template.
The namespace @Contao refers to the core bundle templates.
#}
{% extends "@Contao/content_element/headline.html.twig" %}

{#
The core template usually defines a 'content' block
(inherited from _base.html.twig). We override it here.
#}
{% block content %}
    {% block content %}

        {# Subline oben #}
        {% if subline is defined
            and subline is not empty
            and subline_position is defined
            and subline_position == 'above' %}
            <div class="sw-subline sw-subline--above">
                {{ subline|insert_tag|raw }}
            </div>
        {% endif %}

        {# Original Headline #}
        {{ parent() }}

        {# Subline unten #}
        {% if subline is defined
            and subline is not empty
            and (subline_position is not defined or subline_position == 'below') %}
            <div class="sw-subline sw-subline--below">
                {{ subline|insert_tag|raw }}
            </div>
        {% endif %}

    {% endblock %}

{% endblock %}